In [7]:
import psycopg2
import pandas as pd
conn = psycopg2.connect("dbname=postgres host=db user=postgres password=postgres")
conn.autocommit = True
cursor = conn.cursor()

Each time a rocket is launched, one or more cores (first stages) are involved. Sometimes, cores are recovered after the launch and reused posteriorly in another launch. What is the maximum number of times a core has been used? Write an SQL query to find the result.

In [11]:
query = """
SELECT core_id, count(DISTINCT launch_id)
FROM public.cores
GROUP BY 1
ORDER BY 2 DESC
LIMIT 1
"""
cursor.execute(query)
result = cursor.fetchall()
pd.DataFrame(result, columns=['core_id', 'launch_count'])

                    core_id  launch_count
0  5e9e28a7f3591817f23b2663            14

Which cores have been reused in less than 50 days after the previous launch? Write an SQL query to find the result.

In [15]:
query = """
WITH prev_dates AS (
    SELECT 
        core_id,
        reused,
        l.date_utc,
        LEAD(l.date_utc) OVER (PARTITION BY core_id ORDER BY l.date_local DESC) AS previous_date_utc
    FROM public.cores c
    LEFT JOIN public.launches l
           ON c.launch_id = l.launch_id
), reused_limit AS (
SELECT 
    core_id, 
    date_utc,
    previous_date_utc,
    DATE_PART('DAY', date_utc - previous_date_utc) AS date_diff,
    CASE WHEN DATE_PART('DAY', date_utc - previous_date_utc) < 50 THEN True ELSE False END is_under_reused_limit
FROM prev_dates
)
SELECT core_id, date_utc, previous_date_utc, date_diff
FROM reused_limit
WHERE is_under_reused_limit
"""

cursor.execute(query)
result = cursor.fetchall()
pd.DataFrame(result, columns=['core_id', 'date_utc', 'previous_date_utc', 'date_diff'])

,core_id,date_utc,previous_date_utc,date_diff
0,5e9e28a6f359183c413b265d,2022-09-05 02:09:00,2022-08-04 23:08:00,31.0
1,5e9e28a6f359183c413b265d,2022-03-09 13:45:00,2022-01-31 23:11:12,36.0
2,5e9e28a6f35918c0803b265c,2021-01-20 13:02:00,2020-12-13 17:30:00,37.0
3,5e9e28a7f3591817f23b2663,2022-02-21 14:44:00,2022-01-13 15:25:00,38.0
4,5e9e28a7f3591817f23b2663,2021-05-15 22:54:00,2021-04-07 16:34:00,38.0
5,5e9e28a7f3591817f23b2663,2021-04-07 16:34:00,2021-03-11 08:13:00,27.0
6,5e9e28a7f3591817f23b2663,2021-03-11 08:13:00,2021-01-24 15:00:00,45.0
7,5e9e28a7f3591817f23b2663,2021-01-24 15:00:00,2020-12-06 16:17:00,48.0
8,5ef670f10059c33cee4a826c,2022-06-01 17:08:50,2022-04-21 15:16:00,41.0
9,5ef670f10059c33cee4a826c,2022-04-21 15:16:00,2022-03-03 14:35:00,49.0
10,5ef670f10059c33cee4a826c,2022-03-03 14:35:00,2022-01-19 00:04:00,43.0
11,5ef670f10059c33cee4a826c,2022-01-19 00:04:00,2021-12-01 23:20:00,48.0
12,5ef670f10059c33cee4a826c,2021-04-29 03:44:00,2021-03-24 08:28:00,35.0
13,5ef670f10059c33cee4a826c,2021-03-24 08:28:00,2021-02-04 06:19:00,48.0
14,5ef670f10059c33cee4a826c,2021-02-04 06:19:00,2021-01-08 02:15:00,27.0
15,5f57c53d0622a6330279009f,2022-06-19 04:27:00,2022-05-25 18:27:00,24.0
16,5f57c53d0622a6330279009f,2021-06-06 04:26:00,2021-04-23 09:49:00,43.0
17,5f57c5440622a633027900a0,2022-08-19 19:24:00,2022-07-24 00:00:00,26.0
18,5f57c5440622a633027900a0,2022-07-24 00:00:00,2022-06-08 21:04:00,45.0
19,5f57c5440622a633027900a0,2022-06-08 21:04:00,2022-04-29 21:27:00,39.0
20,5f57c5440622a633027900a0,2022-04-29 21:27:00,2022-04-08 15:17:00,21.0
21,60b800111f83cc1e59f16438,2021-12-19 03:58:00,2021-11-11 02:03:00,38.0
22,61fae5947aa67176fe3e0e1e,2022-07-21 17:13:00,2022-06-18 14:19:00,33.0
23,627843db57b51b752c5c5a54,2022-08-09 22:57:00,2022-06-29 21:04:00,41.0
24,627843db57b51b752c5c5a54,2022-06-29 21:04:00,2022-05-14 20:40:00,46.0

In [13]:
query = """
SELECT 
    DATE_TRUNC('MONTH', date_utc) AS month,
    count(DISTINCT launch_id) AS launches
FROM public.launches
GROUP BY 1
HAVING count(DISTINCT launch_id) > 1
ORDER BY 2 DESC
"""
cursor.execute(query)
result = cursor.fetchall()
pd.DataFrame(result, columns=['month', 'launches'])

        month  launches
0  2022-11-01         8
1  2022-04-01         6
2  2022-08-01         6
3  2022-07-01         6
4  2021-12-01         5
5  2022-06-01         5
6  2022-12-01         5
7  2022-05-01         5
8  2021-06-01         4
9  2020-11-01         4
10 2021-03-01         4
11 2021-05-01         4
12 2022-01-01         4
13 2022-02-01         4
14 2022-09-01         4
15 2022-10-01         4
16 2021-04-01         3
17 2020-01-01         3
18 2021-11-01         3
19 2022-03-01         3
20 2020-08-01         3
21 2020-10-01         3
22 2020-06-01         3
23 2020-12-01         3
24 2021-01-01         3
25 2020-03-01         2
26 2021-09-01         2
27 2021-02-01         2
28 2020-05-01         1
29 2020-09-01         1
30 2020-02-01         1
31 2020-04-01         1
32 2020-07-01         1
33 2021-08-01         1